@use '../../../src/lib/styles/host' as ui;

@include ui.host(block);

.ui-shared-radio-group { display: flex; flex-wrap: wrap; align-items: center; }
.ui-shared-radio-group--column { flex-direction: column; align-items: flex-start; }
