@use '../../../src/lib/styles/host' as ui;

@include ui.host(inline-flex);
:host { vertical-align: middle; }
.ui-shared-icon-button { display: inline-flex; align-items: center; justify-content: center; flex: none; }
