<mat-form-field appearance="outline" [subscriptSizing]="subscriptSizing()">
  <mat-label>{{ labelKey() | uiTranslate }}</mat-label>
  <input matInput
         [formControl]="control()"
         [type]="revealed() ? 'text' : 'password'"
         [required]="required()"
         [attr.autocomplete]="autocomplete()"
         [attr.maxlength]="maxlength()"
         autocapitalize="off" spellcheck="false" />
  <button mat-icon-button matSuffix type="button" (click)="toggle()"
          [matTooltip]="(revealed() ? 'form.password.hide' : 'form.password.show') | uiTranslate"
          [attr.aria-label]="(revealed() ? 'form.password.hide' : 'form.password.show') | uiTranslate">
    <mat-icon>{{ revealed() ? 'visibility_off' : 'visibility' }}</mat-icon>
  </button>
  @if (hintKey()) {
    <mat-hint>{{ hintKey() | uiTranslate }}</mat-hint>
  }
  @if (firstError(control()); as key) {
    <mat-error>{{ key | uiTranslate }}</mat-error>
  }
</mat-form-field>
